body{
    margin: 0;
}

.container {
    margin:0px 100px;
}
.header {
    background-image: url(Depositphotos_409022392_S.jpg);
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav{
    background-color: rgba( 188, 190, 214, 0.7);
}
.nav-item {
    color: #1b107c;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 26px;
    margin-left: 50px;
    margin-right: 50px;

    transition: color 0.2s linear;
}
.nav-item:hover {
    color: rgb(27, 209, 209);
}
.bot-tittle {
    color: #1b107c; 
    font-size: 46px;
    font-family:sans-serif;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 80px;
    background-color: rgba( 188, 190, 214, 0.7);
}
.containerFT {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    background-color: #78a1f1;
    margin-top: 50px;
}
.help {
    font-size: 46;
    color: #fff;
    font-family: sans-serif;
    margin-left: 50px;
    border-right: 2px solid #fff;
    padding-right: 30px;
}  

.social {
    font-size: 20px;
    color: #fff;
    font-family: sans-serif;
    text-decoration: none;

}

.contacts {
    font-size: 20px;
    color: #fff;
    font-family: sans-serif;
    border-left: 2px solid #fff;
    padding-left: 30px;
    margin-right: 80px;
}
.foot-item {
    color: #ffffff;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    transition: color 0.2s linear;
}

.foot-item:hover {
    color: rgb(27, 209, 209);
}

    
